{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <div class="d-flex justify-content-end position-relative">
                        <div class="btn-group" role="group">

                            <li><a class="p-2 btn btn-outline-danger" href="{% url 'main:mail_update' object.pk %}">Редактировать
                                рассылку</a></li>
                            <li><a class="p-2 btn btn-outline-danger" href="{% url 'main:mail_delete' object.pk %}">
                                Удалить</a></li>

                            <h4 class="my-0 font-weight-normal">Рассылка</h4>
                        </div>
                        <div class="card-body">
                            <p>
                                Начало: {{ object.start_time }}
                            </p>
                            <hr>
                            <p>
                                Конец: {{ object.end_time }}
                            </p>
                            <hr>
                            <p>
                                Период: {{ object.get_frequency_display }}.
                            </p>
                            <hr>
                            <p>
                                Статус: {{ object.get_status_display }}.
                            </p>
                            <hr>
                            <p>
                                Контент: "{{ object.message }}".
                            </p>
                            {% if object.logs %}
                            <hr>

                            <p>
                                Отправлено: {{ object.logs.created_at }}
                            <hr>
                            Статус: {{ object.logs.get_attempt_status_display }}
                            <hr>
                            Ответ почтового сервиса: {{ object.logs.server_response }}
                            </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}