{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-12 mx-5" style="padding-top: 10px; padding-left: 40px; padding-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        {% if object %}
                        Cохранить рассылку
                        {% else %}
                        Создать рассылку
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <ul>
                    <li><button type="submit" class="btn" style="background-color: #2F4F4F;">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button></li>
                    {% if user == object.creator or user.is_superuser %}
                   <li> <a class="btn" style="background-color: #2F4F4F;"
                       href="{% url 'main:message_create' %}">Добавить сообщение</a></li>

                   <li> <a class="btn" style="background-color: #2F4F4F;"
                       href="{% url 'main:client_create' %}">Добавить получателя</a></li>

                    </ul>

                    {% endif %}
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}