{% extends 'feedback/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

{% for object in object_list %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                {% if object.status == 'COMPLETE' %}
                <div class="alert alert-danger" role="alert">
                    {{ object.get_status_display }}
                </div>
                {% endif %}
                {% if user == object.creator or user.is_superuser %}
                 <li><a class="dropdown-item" href="{% url 'main:maili_detail' object.pk %}">Просмотреть рассылку</a></li>
                {% endif %}
                <div class="card-body">
                    <div class="card-title fs-6">
                        <p>Начало рассылки: {{ object.start_time }}</p>
                        <p>Период: {{ object.get_frequency_display }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}