{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6 mx-5" style="padding-top: 10px; padding-left: 40px; padding-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        {% if object %}
                        <button type="submit" class="btn btn-success">сохранить</button>
                        {% else %}
                        <button type="submit" class="btn btn-success">создать</button>
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn" style="background-color: #2F4F4F;">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    {% if user == object.creator or user.is_superuser %}
                    <a class="btn" style="background-color: #2F4F4F;"
                       href="{% url 'main:message_create' %}"></a>
                    <a class="btn" style="background-color: #2F4F4F;"
                       href="{% url 'main:client_create' %}"></a>
                    {% endif %}
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}