{% extends 'feedback/base.html' %}
{% load custom_filter %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% if user == object.creator or user|has_group:"Менеджер" or user.is_superuser %}
<div class="col-12 mb-5 text-center mt-0">
    <a class="p-2 btn btn-outline-danger" href="{% url 'main:mail_delete' object.pk %}">Удалить</a>
    {% endif %}
    {% if not user|has_group:"Менеджер" %}
    <a class="link-secondary" href="{% url 'main:mail_create' %}"> Создать</a>
    {% endif %}
</div>
{% for object in object_list %}
{% if user == object.creator or user|has_group:"Менеджер" or user.is_superuser %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                {% if object.status == 'CREATED' %}
                <div class="alert alert-primary" role="alert">
                    {{ object.get_status_display }}
                </div>
                {% elif object.status == 'RUNING' %}
                <div class="alert alert-success" role="alert">
                    {{ object.get_status_display }}
                </div>
                {% elif object.status == 'COMPLETE' %}
                <div class="alert alert-danger" role="alert">
                    {{ object.get_status_display }}
                </div>
                {% endif %}
                <li><a class="link-secondary" href="{% url 'main:mail_detail' object.pk %}">Перейти</a></li>
                <li><a class="link-secondary" href="{% url 'main:mail_update' object.pk %}">Редактировать</a></li>
                <li><a class="link-secondary" href="{% url 'main:mail_delete' object.pk %}">Удалить</a></li>
                <div class="card-body">
                    <p>Начало рассылки: {{ object.start_time }}</p>
                    <p>Период: {{ object.get_frequency_display }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}